:root {
  color-scheme: light;

  --background-color: #F5F5F5;
  --widget-color: #FDFDFD;
  --secondary-color: #E9E9E9;
  --secondary-text-color: #364153;;
  --text-color: #364153;
  --blue-label-color: #9EBCFF;
  --blue-stroke-color: #155DFC;
  --red-label-color: #FFB4B4;
  --red-stroke-color: #FF0000;
  --orange-label-color: #FFD39E;
  --orange-stroke-color: #FF6A00;
  --yellow-label-color: #FFED76;
  --yellow-stroke-color: #DFAA0A;
  --green-label-color: #6DFF88;
  --green-stroke-color: #00840F;

  --primary-color: #155DFC;
  --red-color: #FF0000;
  --stroke-color: #FDFDFD;
  --star-color: #FFEA00;

  --mantine-color-gray-3: red
}

:root[data-theme="dark"]{
  color-scheme: dark;

  --background-color: #21252D;
  --widget-color: #28303C;
  --secondary-color: #394558;
  --secondary-text-color: #DDDDE1;
  --text-color: #FDFDFD;
  --blue-label-color: rgba(7, 73, 166, 0.4);
  --blue-stroke-color: #62B3FF;
  --red-label-color: rgba(130, 24, 26, 0.4);
  --red-stroke-color: #FF626D;
  --orange-label-color: rgba(126, 42, 12, 0.4);
  --orange-stroke-color: #FF6A00;
  --yellow-label-color: rgba(169, 146, 0, 0.4);
  --yellow-stroke-color: #FFD761;
  --green-label-color: rgba(7, 169, 37, 0.4);
  --green-stroke-color: #6DFF88;
}

h4 {
  font-size: 16px !important;
  font-weight: 600 !important;
}

h3 {
  font-size: 20px !important;
  font-weight: 600 !important;
}

h2 {
  font-size: 24px !important;
  font-weight: 600 !important;
}

h1 {
  font-size: 36px !important;
  font-weight: 600 !important;
}